{% extends "unfold/layouts/unauthenticated.html" %}
{% load i18n unfold %}

{% block content %}
    {% include "unfold/helpers/unauthenticated_title.html" with title="密碼已重設" subtitle="蘭陽博物館 飛行生物典藏系統" %}

    <p class="text-sm leading-relaxed mb-6 text-font-default-light dark:text-font-default-dark">
        你的密碼已成功重設，現在可以用新密碼登入後台。
    </p>

    {% url 'admin:login' as login_href %}
    <div class="flex flex-col gap-3 mt-6">
        {% component "unfold/components/button.html" with href=login_href variant="primary" class="w-full" %}
            前往登入
        {% endcomponent %}
    </div>
{% endblock %}
